sfdx/force-app/main/default/flows/Closed_Lost_Opportunity_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <description>The list of CLR to choose during the CLR flow</description>
        <name>CL_Flow_CLR_List</name>
        <choiceText>{!recordId.Closed_Lost_Reason__c}</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>Was this already marked SQO &quot;No&quot;?</description>
        <name>Marked_SQO_No</name>
        <label>Marked SQO No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Open_Re_Engagement_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SQL__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SQO_No</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Open_Re_Engagement_Opportunity</name>
        <label>Open Re-Engagement Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOpenREO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenREO</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Re_Engagement_Opportunity</targetReference>
            </connector>
            <label>YesOpenREO</label>
        </rules>
    </decisions>
    <decisions>
        <description>If an SQO, send a Slack alert on Closed Lost</description>
        <name>Send_a_Slack_Alert_on_Closed_Lost</name>
        <label>Send a Slack Alert on Closed Lost?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Marked_SQO_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is not an SQO</defaultConnectorLabel>
        <rules>
            <name>Yes_an_SQO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.SQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Alert_on_Closed_Lost</targetReference>
            </connector>
            <label>Yes an SQO</label>
        </rules>
    </decisions>
    <description>The flow to launch when marking a recruiting opportunity closed lost, and sends a Slack alert. (8/12 added the Re-Engagement Opportunity)</description>
    <dynamicChoiceSets>
        <name>CL_Flow_Firm_Type_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Firm_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CL_Flow_Opportunity_CLR_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Closed_Lost_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Closed Lost Opportunity Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Lost Opportunity Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Once the required information is updated, then close the opportunity.</description>
        <name>Actually_Close_Lost_Opportunity</name>
        <label>Actually Close Lost Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Closed_Lost_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Opportunity based on what the user fills out on the screen flow.</description>
        <name>Copy_1_of_Update_Closed_Lost_Opportunity</name>
        <label>Copy 1 of Update Closed Lost Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_a_Slack_Alert_on_Closed_Lost</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Lost_Reason__c</field>
            <value>
                <elementReference>CL_Flow_Closed_Lost_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SQO_No</name>
        <label>Set SQO No</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Re_Engagement_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SQL__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Opportunity based on what the user fills out on the screen flow.</description>
        <name>Update_Closed_Lost_Opportunity</name>
        <label>Update Closed Lost Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actually_Close_Lost_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Closed_Lost_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closed_Lost_Details__c</field>
            <value>
                <elementReference>CL_Flow_ClosedLostDetails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Type__c</field>
            <value>
                <elementReference>CL_Flow_Firm_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>A flow to close an opportunity</description>
        <name>Close_Opportunity</name>
        <label>Close Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Update_Closed_Lost_Opportunity</targetReference>
        </connector>
        <fields>
            <name>CL_Flow_Opportunity_Name</name>
            <fieldText>&lt;p&gt;{!recordId.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CL_Flow_Closed_Lost_Reason</name>
            <choiceReferences>CL_Flow_Opportunity_CLR_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Closed Lost Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CL_Flow_ClosedLostDetails</name>
            <fieldText>Closed Lost Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Open_REO</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Would you like to open a re-engagement opportunity?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>5</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OpenREO</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>2</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CL_Flow_Review_Title</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Please review the following details about the Opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CL_Flow_Firm_Type</name>
            <choiceReferences>CL_Flow_Firm_Type_Picklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Firm_Type__c</elementReference>
            </defaultValue>
            <fieldText>Firm Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close Opportunity</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Re_Engagement_Opportunity</name>
        <label>Create Re-Engagement Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Create_Re_Engagement_Opportunity</flowName>
        <inputAssignments>
            <name>recordID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Slack_Alert_on_Closed_Lost</name>
        <label>Send Slack Alert on Closed Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Open_Re_Engagement_Opportunity</targetReference>
        </connector>
        <flowName>Closed_Lost_Send_Slack_Alert</flowName>
        <inputAssignments>
            <name>Opportunity_Which_Was_Closed</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The Opportunity ID</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
