sfdx/force-app/main/default/flows/Contact_PipelineStage_OppUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Stage_Closed</name>
        <label>Set Stage = Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Joined</name>
        <label>Set Stage = Joined</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_Lead</name>
        <label>Set Stage = Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_MQL</name>
        <label>Set Stage = MQL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MQL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_SQL</name>
        <label>Set Stage = SQL</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SQL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stage_SQO</name>
        <label>Set Stage = SQO</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_Stage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SQO</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OCRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Contact_Record</name>
        <label>Build Contact Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ContactToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OCRs.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ContactToUpdate.Pipeline_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Stage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_ContactsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_ContactToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OCRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Has_Contacts</name>
        <label>Any Contacts to Update?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Contacts — Done</defaultConnectorLabel>
        <rules>
            <name>Has_Contacts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_OCRs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OCRs</targetReference>
            </connector>
            <label>Has Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Account_Joined</name>
        <label>Is Account Joined?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Recruitment_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Joined — Check Opps</defaultConnectorLabel>
        <rules>
            <name>Account_Is_Joined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Account.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Joined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Joined</targetReference>
            </connector>
            <label>Account Is Joined</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Recruitment_Opp</name>
        <label>Has Open Recruitment Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_ReEngagement_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Recruitment Opp — Check Re-Engagement</defaultConnectorLabel>
        <rules>
            <name>Is_SQO</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>var_RecruitmentOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_RecruitmentOpp.SQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_SQO</targetReference>
            </connector>
            <label>Recruitment Opp Exists + SQL = Yes (SQO)</label>
        </rules>
        <rules>
            <name>Is_SQL</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>var_RecruitmentOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_RecruitmentOpp.SQL__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_SQL</targetReference>
            </connector>
            <label>Recruitment Opp Exists + SQL = No (SQL)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ReEngagement_Opp</name>
        <label>Has Open Re-Engagement Opp?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Stage_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Opp (Closed)</defaultConnectorLabel>
        <rules>
            <name>Is_MQL</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>var_ReEngagementOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ReEngagementOpp.Stage_Entered_Call_Scheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_MQL</targetReference>
            </connector>
            <label>Re-Engagement Opp + Call Scheduled (MQL)</label>
        </rules>
        <rules>
            <name>Is_Lead_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ReEngagementOpp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_ReEngagementOpp.Stage_Entered_Call_Scheduled__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Lead</targetReference>
            </connector>
            <label>Re-Engagement Opp + No Call Scheduled (Lead)</label>
        </rules>
    </decisions>
    <description>When an Opportunity is created or updated, re-evaluates Pipeline_Stage__c for all related Contacts (via OpportunityContactRole) using the 6-priority business rules against all open Opps on the Account.</description>
    <environments>Default</environments>
    <interviewLabel>Contact Pipeline Stage Opp Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PipelineStage: Contact Pipeline Stage Opp Update</label>
    <loops>
        <name>Loop_OCRs</name>
        <label>Loop Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_OCRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Contact_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Account_Joined</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>var_Account</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_OCRs</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Has_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>col_OCRs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruitment_Opp</name>
        <label>Get Open Recruitment Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Recruitment_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Dn000000mrO3IAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>var_RecruitmentOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SQL__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_ReEngagement_Opp</name>
        <label>Get Open Re-Engagement Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ReEngagement_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012VS000009VoxrYAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>var_ReEngagementOpp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Stage_Entered_Call_Scheduled__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts Pipeline Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>col_ContactsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SQL__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Call_Scheduled__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>col_OCRs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>var_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>var_ContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>var_RecruitmentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_ReEngagementOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>var_Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
