docs/flows/new_flows/Re_Engagement_Conversion_to_Recruiting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Automatically creates a Recruiting Opportunity when a Re-Engagement Opportunity reaches the 'Re-Engaged' stage.</description>
    <environments>Default</environments>
    <formulas>
        <description>Removes the [Re-Engagement] prefix from the name for the new Recruiting Opportunity.</description>
        <name>CleanRecruitingOppName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Name}, "[Re-Engagement] ", "")</expression>
    </formulas>
    <formulas>
        <description>Sets the close date to 90 days out by default.</description>
        <name>DefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 90</expression>
    </formulas>
    <interviewLabel>Re-Engagement Conversion to Recruiting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Engagement Conversion to Recruiting</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates the new Recruiting Opportunity.</description>
        <name>Create_Recruiting_Opportunity</name>
        <label>Create Recruiting Opportunity</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_Triggering_Re_Engagement_Opp</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>DefaultCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conversion_Channel__c</field>
            <value>
                <stringValue>Re-Engagement</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experimentation_Tag__c</field>
            <value>
                <elementReference>$Record.Experimentation_Tag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Agency__c</field>
            <value>
                <elementReference>$Record.External_Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FA_CRD__c</field>
            <value>
                <elementReference>$Record.FA_CRD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Source__c</field>
            <value>
                <elementReference>$Record.Final_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Finance_View__c</field>
            <value>
                <elementReference>$Record.Finance_View__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name__c</field>
            <value>
                <elementReference>$Record.Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CleanRecruitingOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>$Record.NextStep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Dn000000mrO3IAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Re_Engagement_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualifying</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underwritten_AUM__c</field>
            <value>
                <elementReference>$Record.Underwritten_AUM__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Links the Re-Engagement Opportunity to the newly created Recruiting Opportunity.</description>
        <name>Update_Triggering_Re_Engagement_Opp</name>
        <label>Update Triggering Re-Engagement Opp</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Created_Recruiting_Opportunity_ID__c</field>
            <value>
                <elementReference>Create_Recruiting_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Recruiting_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Re-Engaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012VS000009VoxrYAC</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>