salesforce/force-app/main/default/flows/Bulk_Create_Re_Engagement_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Role_To_RE_Opp</name>
        <label>Assign Contact Role to RE Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>New_OpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_RE_Opp_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_OpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_OpportunityContactRolesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_OpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Open_RE_Opps</name>
        <label>Check for Open RE Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Opp_Contact_Roles</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open RE Opp</defaultConnectorLabel>
        <rules>
            <name>Has_Open_RE_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Open_Re_Engagement_Opps__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Create_Checkbox</targetReference>
            </connector>
            <label>Has Open RE Opp</label>
        </rules>
    </decisions>
    <description>Record-triggered flow that creates a Re-Engagement opportunity from a Recruiting opportunity when the Create_Re_Engagement__c checkbox is checked. Skips creation if an open Re-Engagement opp already exists. Resets the checkbox to false after completion.</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_CloseDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <formulas>
        <name>Formula_NextTouchDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 30</expression>
    </formulas>
    <formulas>
        <name>Formula_RE_Opp_Name</name>
        <dataType>String</dataType>
        <expression>&quot;[Re-Engagement] &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>Bulk - Create Re-Engagement Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bulk - Create Re-Engagement Opportunity</label>
    <loops>
        <name>Loop_Over_Contacts</name>
        <label>Loop Over Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opp_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Role_To_RE_Opp</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contact_Roles</name>
        <label>Create New Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Create_Checkbox</targetReference>
        </connector>
        <inputReference>New_OpportunityContactRolesCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RE_Opportunity</name>
        <label>Create Re-Engagement Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>New_RE_Opp_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Over_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisor_Notes_Doc__c</field>
            <value>
                <elementReference>$Record.Advisor_Notes_Doc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Formula_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experimentation_Tag__c</field>
            <value>
                <elementReference>$Record.Experimentation_Tag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FA_CRD__c</field>
            <value>
                <elementReference>$Record.FA_CRD__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name__c</field>
            <value>
                <elementReference>$Record.Firm_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Type__c</field>
            <value>
                <elementReference>$Record.Firm_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>$Record.LinkedIn_Profile_URL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Formula_RE_Opp_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruiting_Opportunity_CLR__c</field>
            <value>
                <elementReference>$Record.Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruiting_Opportunity_ID__c</field>
            <value>
                <elementReference>$Record.Full_Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruting_Opp_CL_Details__c</field>
            <value>
                <elementReference>$Record.Closed_Lost_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone_Number__c</field>
            <value>
                <elementReference>$Record.Primary_Phone_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Next_Touch_Date__c</field>
            <value>
                <elementReference>Formula_NextTouchDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Priority__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Reason__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012VS000009VoxrYAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planned Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Before_Closed_or_Conversion__c</field>
            <value>
                <elementReference>$Record.Stage_Before_Closed_or_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Re_Engagement_Date__c</field>
            <value>
                <elementReference>Formula_CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underwritten_AUM__c</field>
            <value>
                <elementReference>$Record.Underwritten_AUM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Contact_Roles</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_RE_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Create_Checkbox</name>
        <label>Reset Create Re-Engagement Checkbox</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Re_Engagement__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Open_RE_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Create_Re_Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012Dn000000mrO3IAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Total_Open_Opp_in_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_OpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>New_OpportunityContactRolesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>New_RE_Opp_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
