salesforce/force-app/main/default/flows/Clay_Fintrxx_Create_Detector_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Enrich_Flags</name>
        <label>Set Enrich Flags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EnrichMobileFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobileIsBlank</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EnrichEmailFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailIsBlank</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Either_Flag_True</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Either_Flag_True</name>
        <label>Check Either Flag True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Both False</defaultConnectorLabel>
        <rules>
            <name>Either_Flag_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EnrichMobileFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnrichEmailFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Requested</targetReference>
            </connector>
            <label>Either Flag True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.Primary_Email__c})</expression>
    </formulas>
    <formulas>
        <name>MobileIsBlank</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!$Record.MobilePhone})</expression>
    </formulas>
    <interviewLabel>Clay Fintrxx Create Detector Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clay Fintrxx Create Detector Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Lead_Requested</name>
        <label>Update Lead Requested</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clay_Enrich_Personal_Email__c</field>
            <value>
                <elementReference>EnrichEmailFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clay_Enrich_Personal_Mobile__c</field>
            <value>
                <elementReference>EnrichMobileFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clay_Enrichment_Status__c</field>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clay_Last_Enriched__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Enrich_Flags</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fintrx_Url__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>800</triggerOrder>
    <variables>
        <name>EnrichEmailFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EnrichMobileFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
