salesforce/force-app/main/default/flows/Clay_Enrichment_Engine_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Clay_Enrichment</name>
        <label>Call Clay Enrichment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClayEnrichmentService.ClayEnrichmentServiceActionPost</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ClayRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClayEnrichmentService.ClayEnrichmentServiceActionPost</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Append_Invalid_Email</name>
        <label>Append Invalid Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewInvalidEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailsWithPipe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record_In_Process</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_Invalid_Mobile</name>
        <label>Append Invalid Mobile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NewInvalidMobiles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilesWithPipe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Append_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Body</name>
        <label>Assign Request Body</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClayRequestBody.recordx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.firstx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.lastx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.linkedinx5furl</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LinkedIn_Profile_Apollo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.crd</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FA_CRD__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.companyx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.companyx5fwebsite</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.enrichx5fmobile</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clay_Enrich_Personal_Mobile__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.enrichx5femail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Clay_Enrich_Personal_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.invalidx5fmobiles</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invalid_Personal_Mobiles__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayRequestBody.invalidx5femails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Invalid_Personal_Emails__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Clay_Enrichment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Append_Email</name>
        <label>Check Append Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Record_In_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Email</defaultConnectorLabel>
        <rules>
            <name>Already_Contains_Email_On_Invalid_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clay_Enrich_Personal_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invalid_Personal_Emails__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>EmailsWithPipe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record_In_Process</targetReference>
            </connector>
            <label>Already Contains Email On Invalid String</label>
        </rules>
        <rules>
            <name>Append_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clay_Enrich_Personal_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Primary_Email__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Invalid_Email</targetReference>
            </connector>
            <label>Append Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Append_Mobile</name>
        <label>Check Append Mobile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Append_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip Mobile</defaultConnectorLabel>
        <rules>
            <name>Already_Contains_Mobile_on_Invalid_String</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clay_Enrich_Personal_Mobile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Invalid_Personal_Mobiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>MobilesWithPipe</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Append_Email</targetReference>
            </connector>
            <label>Already Contains Mobile on Invalid String</label>
        </rules>
        <rules>
            <name>Append_Mobile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clay_Enrich_Personal_Mobile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MobilePhone</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_Invalid_Mobile</targetReference>
            </connector>
            <label>Append Mobile</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailsWithPipe</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Invalid_Personal_Emails__c}), &quot;|&quot; &amp; {!$Record.Primary_Email__c} &amp; &quot;|&quot;, {!$Record.Invalid_Personal_Emails__c} &amp; &quot;|&quot; &amp; {!$Record.Primary_Email__c} &amp; &quot;|&quot;)</expression>
    </formulas>
    <formulas>
        <name>MobilesWithPipe</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Invalid_Personal_Mobiles__c}), &quot;|&quot; &amp; {!$Record.MobilePhone} &amp; &quot;|&quot;, {!$Record.Invalid_Personal_Mobiles__c} &amp; &quot;|&quot; &amp; {!$Record.MobilePhone} &amp; &quot;|&quot;)</expression>
    </formulas>
    <interviewLabel>Clay Enrichment Engine Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clay Enrichment Engine Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record_In_Process</name>
        <label>Update Record In Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invalid_Personal_Emails__c</field>
            <value>
                <elementReference>NewInvalidEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invalid_Personal_Mobiles__c</field>
            <value>
                <elementReference>NewInvalidMobiles</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Clay_Enrichment_Status__c</field>
            <value>
                <stringValue>In_Process</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Append_Mobile</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clay_Enrichment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Assign_Request_Body</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ClayRequestBody</name>
        <apexClass>ExternalService__ClayEnrichmentService_ClayEnrichmentServiceActionPost_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewInvalidEmails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewInvalidMobiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
