salesforce/force-app/main/default/flows/Closed_Opportunity_Send_Slack_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Was_an_SQO_Closed</name>
        <label>Was an SQO Closed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_an_SQO_Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SQL__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fire_Slack_Message_on_Closed_Lost</targetReference>
            </connector>
            <label>If an SQO Is Closed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Closed Opportunity - Send Slack Alert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Closed Opportunity - Send Slack Alert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_an_SQO_Closed</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Fire_Slack_Message_on_Closed_Lost</name>
        <label>Fire Slack Message on Closed Lost</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <flowName>Closed_Lost_Send_Slack_Alert</flowName>
        <inputAssignments>
            <name>Opportunity_Which_Was_Closed</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>SQOClosedMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Owner.FirstName} just marked {!$Record.Name} Closed Lost. Here are some more details:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Closed Lost Reason: {!$Record.Closed_Lost_Reason__c}&lt;/p&gt;&lt;p&gt;Estimated AUM: {!$Record.Amount}&lt;/p&gt;&lt;p&gt;Stage Before Closed Lost: {!$Record__Prior.StageName}&lt;/p&gt;&lt;p&gt;Date Marked SQO: &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Date_Became_SQO__c}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
