salesforce/force-app/main/default/flows/Create_Re_Engagement_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Create_Opportunity_Contact_Roles</name>
        <label>Create Opportunity Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OpportunityContactRole.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Re_Engagement_Opportunity_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRole.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_All_Contacts.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityContactRolesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_All_Contacts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>REO_Rengagement_Reason_Checklist</name>
        <choiceText>w</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Account</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </constants>
    <constants>
        <name>RecruitingRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012Dn000000mrO3IAI</stringValue>
        </value>
    </constants>
    <constants>
        <name>ReEngagementRecordTypeID</name>
        <dataType>String</dataType>
        <value>
            <stringValue>012VS000009VoxrYAC</stringValue>
        </value>
    </constants>
    <constants>
        <name>Savvy_Marketing_User</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005Dn000007IYAAIA4</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if there are any open re-engagement or recruiting opportunities on the account before creating a new re-engagement opportunity</description>
        <name>Check_For_Open_Opportunities</name>
        <label>Check For Open Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Re_Engagement_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Opportunities</defaultConnectorLabel>
        <rules>
            <name>Has_Open_ReEngagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_ReEngagement_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_ReEngagement_Screen</targetReference>
            </connector>
            <label>Has Open Re-Engagement</label>
        </rules>
        <rules>
            <name>Has_Open_Recruiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Recruiting_Opportunities</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Recruiting_Screen</targetReference>
            </connector>
            <label>Has Open Recruiting</label>
        </rules>
    </decisions>
    <decisions>
        <name>Created_from_a_Recruiting_ID</name>
        <label>Created from a Recruiting ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Created_from_RecruitingID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Recruiting_Opportunity_Information</targetReference>
            </connector>
            <label>Created from RecruitingID</label>
        </rules>
    </decisions>
    <description>2/17: Changed the ordering of the check of opportunities to show an earlier screen about not being able to create a re-engagement opp
2/13: Added validation to check for existing open re-engagement or recruiting opportunities before creating.
1/26: Removed the SQO field getting updated.
The Screen Flow to create a re-engagement opportunity. (10/2: Added the OwnerID to be updated properly)</description>
    <dynamicChoiceSets>
        <name>FirmTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Firm_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReEngagementPrioritization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Re_Engagement_Priority__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>REO_Re_Engagement_Reason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Re_Engagement_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>REO_User_List</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Savvy Operations</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00eDn0000033PAQIA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00eDn0000033PAPIA2</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Advisor Ops</stringValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PreviousOwnerFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Recruiting_Opportunity_Information.Owner.FirstName} &amp; &quot; &quot; &amp; {!Get_Recruiting_Opportunity_Information.Owner.LastName}</expression>
    </formulas>
    <formulas>
        <description>Get the Name of the Opportunity if made from a flow</description>
        <name>Re_Engagement_Opportunity_Name</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISNULL({!recordID.Full_Opportunity_ID__c})), &quot;[Re-Engagement] &quot;&amp;{!recordID.Name},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create Re-Engagement Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Re-Engagement Opportunity</label>
    <loops>
        <name>Loop_Over_All_Contacts</name>
        <label>Loop Over All Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Opp_Contact_Roles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Opportunity_Contact_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_the_New_OppContact_Relationships</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Re_Engagement_Opportunity_Record</name>
        <label>Create Re-Engagement Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Created_from_a_Recruiting_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Advisor_Interests__c</field>
            <value>
                <elementReference>Advisors_Interests</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Target_Re_Engagement_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FA_CRD__c</field>
            <value>
                <elementReference>FA_CRD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Name__c</field>
            <value>
                <elementReference>Firm_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Firm_Type__c</field>
            <value>
                <elementReference>Firm_Type_picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Original_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedIn_Profile_URL__c</field>
            <value>
                <elementReference>LinkedIn_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Re_Engagement_Opportunity_Record_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_New_Owner_ID.Full_User_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Primary_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Phone_Number__c</field>
            <value>
                <elementReference>Phone_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Next_Touch_Date__c</field>
            <value>
                <elementReference>REO_Next_Touch_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Priority__c</field>
            <value>
                <elementReference>Re_Engagement_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Reason_Details__c</field>
            <value>
                <elementReference>Re_Engagement_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Re_Engagement_Reason__c</field>
            <value>
                <elementReference>REO_Re_Engagement_Reason_Screen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ReEngagementRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Planned Nurture</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Target_Re_Engagement_Date__c</field>
            <value>
                <elementReference>Target_Re_Engagement_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_the_New_OppContact_Relationships</name>
        <label>Create the New OppContact Relationships</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>OpportunityContactRolesCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Owner_ID</name>
        <label>Get New Owner ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Re_Engagement_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>REO_Primary_Owner.selectedChoiceValues</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is an existing open recruiting opportunity on the account (any stage other than Closed Lost or Joined)</description>
        <name>Get_Open_Recruiting_Opportunities</name>
        <label>Get Open Recruiting Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_For_Open_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Opp.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecruitingRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Check if there is an existing open re-engagement opportunity on the account (any stage other than Re-Engaged)</description>
        <name>Get_Open_ReEngagement_Opportunities</name>
        <label>Get Open Re-Engagement Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Recruiting_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_Opp.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReEngagementRecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Re-Engaged</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Contact_Roles</name>
        <label>Get Opportunity Contact Roles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_All_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruiting_Opportunity_Information</name>
        <label>Get Recruiting Opportunity Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Other_Opportunity_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_Opp</name>
        <label>Get Triggering Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_ReEngagement_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Other_Opportunity_Information</name>
        <label>Update Other Opportunity Information</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Contact_Roles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Re_Engagement_Opportunity_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advisor_Notes_Doc__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Advisor_Notes_Doc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experimentation_Tag__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Experimentation_Tag__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruiting_Opportunity_CLR__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Closed_Lost_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruiting_Opportunity_ID__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Full_Opportunity_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Recruting_Opp_CL_Details__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Closed_Lost_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Before_Closed_or_Conversion__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Stage_Before_Closed_or_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underwritten_AUM__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.Underwritten_AUM__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>Get_Recruiting_Opportunity_Information.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>The screen to create a re-engagement opportunity</description>
        <name>Create_Re_Engagement_Opportunity</name>
        <label>Create Re-Engagement Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_New_Owner_ID</targetReference>
        </connector>
        <fields>
            <name>Re_Engagement_Opportunity_Record_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Re_Engagement_Opportunity_Name</elementReference>
            </defaultValue>
            <fieldText>Re-Engagement Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AccountLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>REO_Primary_Owner</name>
            <choiceReferences>REO_User_List</choiceReferences>
            <defaultValue>
                <stringValue>Savvy Marketing</stringValue>
            </defaultValue>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Primary Owner</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>REO_Re_Engagement_Reason_Screen</name>
            <choiceReferences>REO_Re_Engagement_Reason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Re-Engagement Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Re_Engagement_Details</name>
            <dataType>String</dataType>
            <fieldText>Re-Engagement Details</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Is there any other information to note about this re-engagement opportunity?&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Re_Engagement_Priority</name>
            <choiceReferences>ReEngagementPrioritization</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Medium</stringValue>
            </defaultValue>
            <fieldText>Re-Engagement Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Advisors_Interests</name>
            <dataType>String</dataType>
            <fieldText>Advisor&apos;s Interests</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the advisor&apos;s interests. We use this to personalize future direct mail.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;This must be less than 255 characters.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Advisors_Interests})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>REO_Next_Touch_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Touch Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;The target date of the next touch (scheduled or unscheduled)&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Target_Re_Engagement_Date</name>
            <dataType>Date</dataType>
            <fieldText>Re-Engagement Close By Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; font-size: 11.36px;&quot;&gt;The date by which we&apos;d either stop re-engagement efforts or have a new recruiting opportunity open.&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact_Information_Section</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Contact Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LinkedIn_URL</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.LinkedIn_Profile_URL__c</elementReference>
            </defaultValue>
            <fieldText>LinkedIn URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Primary_Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.Personal_Email__c</elementReference>
            </defaultValue>
            <fieldText>Primary Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.Primary_Phone_Number__c</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FA_CRD</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.FA_CRD__c</elementReference>
            </defaultValue>
            <fieldText>FA CRD</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Information</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Other Re-Engagement Opportunity Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Firm_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.Firm_Name__c</elementReference>
            </defaultValue>
            <fieldText>Firm Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Firm_Type_picklist</name>
            <choiceReferences>FirmTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.Firm_Type__c</elementReference>
            </defaultValue>
            <fieldText>Firm Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Source</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordID.LeadSource</elementReference>
            </defaultValue>
            <fieldText>Original Source</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error screen displayed when there is an open recruiting opportunity on the account</description>
        <name>Open_Recruiting_Screen</name>
        <label>Open Recruiting Opportunity Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Open_Recruiting_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(194, 57, 52); font-size: 16px;&quot;&gt;Cannot Create Re-Engagement Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is an open recruiting opportunity, so we should not be creating a re-engagement opportunity until that is closed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error screen displayed when there is already an open re-engagement opportunity on the account</description>
        <name>Open_ReEngagement_Screen</name>
        <label>Open Re-Engagement Opportunity Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Open_ReEngagement_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(194, 57, 52); font-size: 16px;&quot;&gt;Cannot Create Re-Engagement Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;There is already an existing open re-engagement opportunity for this advisor.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please close or update the existing re-engagement opportunity before creating a new one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_Opp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>OpportunityContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityContactRolesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>Re_Engagement_Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
