salesforce/force-app/main/default/flows/Lead_Routing_Update_SGAs_when_SGM_Now_Skipped.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Lead Routing - Update SGAs when SGM Now Skipped {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Routing - Update SGAs when SGM Now Skipped</label>
    <loops>
        <name>Update_SGMs_for_SGA_Who_Has_Skipped_SGM</name>
        <label>Update SGMs for SGA Who Has Skipped SGM</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_SGAs_With_This_SGM_Up_Next</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_SGM_for_Each_SGA</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SGAs_With_This_SGM_Up_Next</name>
        <label>Get SGAs With This SGM Up Next</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_SGMs_for_SGA_Who_Has_Skipped_SGM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_SGM_on_Lead_Routing__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsSGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SGAs_With_This_SGM_Up_Next</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_SGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skip_Lead_Routing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_SGM_for_Each_SGA</name>
        <label>Update SGM for Each SGA</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_SGMs_for_SGA_Who_Has_Skipped_SGM</targetReference>
        </connector>
        <flowName>Lead_Routing_Update_Lead</flowName>
        <inputAssignments>
            <name>CurrentSGMInLeadRouting</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SGA_To_Update_Lead</name>
            <value>
                <elementReference>Update_SGMs_for_SGA_Who_Has_Skipped_SGM</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
