salesforce/force-app/main/default/flows/Lead_Recycling_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_Lead_to_Overall_Recycling</name>
        <label>Add Lead to Overall Recycling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadCollectionToRecycle</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadToRecycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Disposition_and_Change_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_One_to_Recycle_Count</name>
        <label>Add One to Recycle Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadRecyclingNumberOfLeadsRecycled</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Recycling_Set_Lead_to_Be_Recycled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Status_Collection</name>
        <label>Set Lead in Status Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadToRecycleStatus.Full_Prospect_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Full_Prospect_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycleStatus.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadCollectionToRecycleLeadStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadToRecycleStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lead_to_Overall_Recycling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Recycling_Set_Lead_to_Be_Recycled</name>
        <label>Lead Recycling - Set Lead to Be Recycled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Full_Prospect_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Reycling_Set_Previous_Owner_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lead_Reycling_Set_Previous_Owner_Name</name>
        <label>Lead Reycling Set Previous Owner Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Previous_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Previous_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Owner:User.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Previous_Owner__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LeadRecyclingSpace</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Previous_Owner__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Owner:User.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Lead_Recycle_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Previous_Owner_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Owner:User.Full_User_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycle.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SavvyOperationsUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_Still_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Disposition_for_Open_Leads</name>
        <label>Set Disposition for Open Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LeadToRecycle.Disposition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Auto-Closed by Operations</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadToRecycleStatus.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_Disposition_and_Change_Owner.Full_Prospect_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Status_Collection</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>LeadRecyclingSpace</name>
        <dataType>String</dataType>
        <value>
            <stringValue> </stringValue>
        </value>
    </constants>
    <constants>
        <name>SavvyOperationsUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005VS000005ahzdYAA</stringValue>
        </value>
    </constants>
    <decisions>
        <name>If_a_Weekend_Do_Nothing</name>
        <label>If a Weekend, Do Nothing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Recycleable_Leads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Weekday</defaultConnectorLabel>
        <rules>
            <name>Weekend</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>WeekdayName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WeekdayName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>Weekend</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Still_Open</name>
        <label>If Still Open</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Lead_to_Overall_Recycling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Already Closed</defaultConnectorLabel>
        <rules>
            <name>Is_Still_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Disposition_and_Change_Owner.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Disposition_for_Open_Leads</targetReference>
            </connector>
            <label>Is Still Open</label>
        </rules>
    </decisions>
    <description>A daily flow which moves recyclable leads to the Savvy Operations user. 8/4 Update to be done using collections</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s date - 90 days</description>
        <name>Last90Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}-90</expression>
    </formulas>
    <formulas>
        <name>WeekdayName</name>
        <dataType>Number</dataType>
        <expression>WEEKDAY({!$Flow.CurrentDate})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Lead Recycling Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Recycling - Core Flow</label>
    <loops>
        <name>Add_Disposition_and_Change_Owner</name>
        <label>Add Disposition and Change Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Recycleable_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_One_to_Recycle_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LeadRecyclingUpdateAllLeads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets leads to recycle based on the recycle-able leads report. The logic is:
1. Not in Qualified or Nurture
2. In the last 90 days there has been no activity, the prospect has not been put in contacting, replied, or call scheduled
3. It has not been marked do not call
4. It has not been marked Not a fit
5. It has not been created within 90 days</description>
        <name>Get_Recycleable_Leads</name>
        <label>Get Recycleable Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Disposition_and_Change_Owner</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6) AND (7 OR 8) AND (9 OR 10) AND 11 AND 12 AND 13 AND 14 AND (15 OR 16 OR 17 OR 18 OR 19 OR 20 OR 21 OR 22) AND (23 OR 24)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Nurture</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastActivityDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Call_Scheduled__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Call_Scheduled__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Contacting__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Contacting__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Replied__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage_Entered_Replied__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DoNotCall</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Not a Fit</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>SavvyOperationsUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bad Contact Info - Uncontacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Show / Ghosted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Interested in Moving</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Timing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Wrong Phone Number - Contacted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Disposition__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Reassignment_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Last90Days</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Reassignment_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Lead_Lead_Recycling</name>
        <label>Close Lead - Lead Recycling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Slack_Message_After_Recycling</targetReference>
        </connector>
        <inputReference>LeadCollectionToRecycleLeadStatus</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update fields when recycling a lead</description>
        <name>LeadRecyclingUpdateAllLeads</name>
        <label>Update All Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Lead_Lead_Recycling</targetReference>
        </connector>
        <inputReference>LeadCollectionToRecycle</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_a_Weekend_Do_Nothing</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-25</startDate>
            <startTime>08:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Slack_Message_After_Recycling</name>
        <label>Send Slack Message After Recycling</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Lead_Recycling_Send_Message_after_Reycling</flowName>
        <inputAssignments>
            <name>NumberOfLeadsRecycled</name>
            <value>
                <elementReference>LeadRecyclingNumberOfLeadsRecycled</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>LeadCollectionToRecycle</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadCollectionToRecycleLeadStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>The number of Leads which get recycled</description>
        <name>LeadRecyclingNumberOfLeadsRecycled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeadRecyclingPreviousOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadToRecycle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LeadToRecycleStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
