salesforce/force-app/main/default/flows/Lead_Routing_Update_on_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <description>Send a Slack notification if the opportunity owner is not the person who was supposed to be next.</description>
        <name>If_Opportunity_Owner_Is_Not_Next_Up</name>
        <label>If Opportunity Owner Is Not Next Up</label>
        <locationX>182</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Owner_is_Different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Current_SGM.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_The_Converted_Opportunity.Owner.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendSlackIfMismatch</targetReference>
            </connector>
            <label>Opportunity Owner is Different</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_SGA</name>
        <label>Is User SGA</label>
        <locationX>336</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_SGA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SGA.IsSGA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Conversion_Update_SGM</targetReference>
            </connector>
            <label>User is SGA</label>
        </rules>
    </decisions>
    <description>Added a Slack message on misroute</description>
    <environments>Default</environments>
    <interviewLabel>Set {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Routing - Update on Conversion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Current_SGM</name>
        <label>Get Current SGM</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_SGA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SGA.Next_SGM_on_Lead_Routing__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_SGM__c</queriedFields>
        <queriedFields>IsSGA__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Skip_Lead_Routing__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SGA</name>
        <label>Get SGA</label>
        <locationX>336</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_SGM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_SGM__c</queriedFields>
        <queriedFields>IsSGA__c</queriedFields>
        <queriedFields>Next_SGM_on_Lead_Routing__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Converted_Opportunity</name>
        <label>Get The Converted Opportunity</label>
        <locationX>182</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Opportunity_Owner_Is_Not_Next_Up</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SGA</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Lead_Conversion_Update_SGM</name>
        <label>Lead Conversion - Update SGM</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_The_Converted_Opportunity</targetReference>
        </connector>
        <flowName>Lead_Routing_Update_Lead</flowName>
        <inputAssignments>
            <name>CurrentSGMInLeadRouting</name>
            <value>
                <elementReference>Get_Current_SGM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SGA_To_Update_Lead</name>
            <value>
                <elementReference>Get_SGA</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Fire the Lead Routing Slack Message flow if this is not the right owner routing.</description>
        <name>SendSlackIfMismatch</name>
        <label>SendSlackIfMismatch</label>
        <locationX>50</locationX>
        <locationY>924</locationY>
        <flowName>Lead_Routing_Slack_Message_on_MisRoute</flowName>
        <inputAssignments>
            <name>OpportunityWhichGotRouted</name>
            <value>
                <elementReference>Get_The_Converted_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SGMWhoWasSupposedToBeUp</name>
            <value>
                <elementReference>Get_Current_SGM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TheSGAWhoRouted</name>
            <value>
                <elementReference>Get_SGA</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>A message sent to the rev-ops channel when the SGM where an SQL gets routed is not the next up SGM</description>
        <name>SendMessageOnUnexpectedLeadRoute</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;It seems that an SQL was just routed to the person who was not up next on Lead routing for that SGM.&lt;/p&gt;&lt;p&gt;The SGA who routed this opportunity was: {!Get_SGA.Name}&lt;/p&gt;&lt;p&gt;The SGM who the opportunity was supposed to be routed was: {!Get_Current_SGM.Name}&lt;/p&gt;&lt;p&gt;The Opportunity which was routed was: {!Get_The_Converted_Opportunity.Name} | {!Get_The_Converted_Opportunity.Full_Opportunity_ID__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CountOfEligibleSGMs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfLoopsforSGARouting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
