salesforce/force-app/main/default/flows/Lead_Routing_Update_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Set_First_Eligible_SGM</name>
        <label>Set First Eligible SGM</label>
        <locationX>418</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewSGMForLeadRouting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Not_First_Eligible_SGM_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_SGM</name>
        <label>Set Next SGM</label>
        <locationX>440</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>NewSGMForLeadRouting</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SGM_Is_Now_Set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Variable_to_Update_SGM_Next_Loop</name>
        <label>Set Variable to Update SGM Next Loop</label>
        <locationX>704</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SetSGMOnThisLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SGM_Is_Now_Set</name>
        <label>SGM Is Now Set</label>
        <locationX>440</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SetSGMOnThisLoop</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Not_First_Eligible_SGM_Variable</name>
        <label>Update Not First Eligible SGM Variable</label>
        <locationX>418</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>GrabFirstEligibleSGM</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_SGM_Should_Be_Set_Now</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Get_and_Set_First_Eligible_SGM</name>
        <label>Get and Set First Eligible SGM</label>
        <locationX>550</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>If_SGM_Should_Be_Set_Now</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not First SGM</defaultConnectorLabel>
        <rules>
            <name>Is_The_First_Eligible_SGM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GrabFirstEligibleSGM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_First_Eligible_SGM</targetReference>
            </connector>
            <label>Is The First Eligible SGM</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_SGM_Should_Be_Set_Now</name>
        <label>If SGM Should Be Set Now</label>
        <locationX>550</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Is_Current_SGM_This_SGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SGM Not Set</defaultConnectorLabel>
        <rules>
            <name>SGM_Already_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetSGMOnThisLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</targetReference>
            </connector>
            <label>SGM Already Set</label>
        </rules>
        <rules>
            <name>SGM_Should_Be_Set_This_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SetSGMOnThisLoop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_SGM</targetReference>
            </connector>
            <label>SGM Should Be Set This Loop</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_SGM_This_SGM</name>
        <label>Is Current SGM This SGM</label>
        <locationX>836</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Go to Next SGM</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Next_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Eligible_SGMs_to_Get_Next_One.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CurrentSGMInLeadRouting.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Variable_to_Update_SGM_Next_Loop</targetReference>
            </connector>
            <label>Yes - Update Next Loop</label>
        </rules>
    </decisions>
    <description>Fixed the bug which did not update the name of the SGM</description>
    <environments>Default</environments>
    <interviewLabel>Lead Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Routing - Update Lead</label>
    <loops>
        <name>Loop_Through_Eligible_SGMs_to_Get_Next_One</name>
        <label>Loop Through Eligible SGMs to Get Next One</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Eligible_Lead_Routing_SGMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_and_Set_First_Eligible_SGM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Next_SGM</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_SGMs</name>
        <label>Get All SGMs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eligible_Lead_Routing_SGMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_SGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_SGM__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Skip_Lead_Routing__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eligible_Lead_Routing_SGMs</name>
        <label>Get Eligible Lead Routing SGMs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Eligible_SGMs_to_Get_Next_One</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Is_SGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skip_Lead_Routing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_SGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentSGMInLeadRouting.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_SGM__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Skip_Lead_Routing__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_SGM</name>
        <label>Update Next SGM on SGA Record</label>
        <locationX>176</locationX>
        <locationY>1442</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SGA_To_Update_Lead.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Lead_Routing_SGM_Name__c</field>
            <value>
                <elementReference>NewSGMForLeadRouting.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_SGM_on_Lead_Routing__c</field>
            <value>
                <elementReference>NewSGMForLeadRouting.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_SGMs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentSGMInLeadRouting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>GrabFirstEligibleSGM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewSGMForLeadRouting</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SetSGMOnThisLoop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SGA_To_Update_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
