salesforce/force-app/main/default/flows/Lead_Recycling_Send_Message_after_Reycling.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_Message_on_Lead_Recycling</name>
        <label>Send Slack Message on Lead Recycling</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T0295TR9745</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C096W8D124B</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>LeadRecyclingMessageToSend</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>If_On_Send_Slack_Message</name>
        <label>If On Send Slack Message</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_If_On_Send_Slack_Message</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfLeadsRecycled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>99999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_Message_on_Lead_Recycling</targetReference>
            </connector>
            <label>Outcome 1 of If On Send Slack Message</label>
        </rules>
    </decisions>
    <description>Update 2/12: Added logic to turn this Slack message off effectively.
The message to be sent to the lead routing channel after recycling leads</description>
    <environments>Default</environments>
    <interviewLabel>Lead Recycling - Send Message after Reycling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Recycling - Send Slack after Recycling</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_On_Send_Slack_Message</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>The Slack Message to send</description>
        <name>LeadRecyclingMessageToSend</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Today we recycled {!NumberOfLeadsRecycled} leads. To see what was recycled, please view &lt;https://savvywealth.lightning.force.com/lightning/r/Report/00OVS000006OZnZ2AW/view|this report&gt;.</text>
    </textTemplates>
    <variables>
        <name>NumberOfLeadsRecycled</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
