salesforce/force-app/main/default/flows/Marketing_Lemlist_Enrollment_Outbound_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lemlist_Outbound_Message</name>
        <label>Lemlist Outbound Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Lead.Lemlist_Enrollment_V2</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Set_Lemlist_Enroll_Status_to_Processing</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Lead.Lemlist_Enrollment_V2</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Enrollment_Metadata</name>
        <label>Set Enrollment Metadata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Lemlist_Enrollment_Status_V2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lemlist_Enrollment_Requested_At_V2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Lemlist_Enrollment_Key_V2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnrollmentKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Filter_Queue_Status</name>
        <label>Filter Queue Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Enrollment_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lemlist_Enrollment_Status_V2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lemlist_Enrollment_Status_V2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Enrollment_Metadata</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EnrollmentKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.Id}&amp;&quot;|&quot;&amp;TEXT({!$Record.Lemlist_Enroll_V2__c})&amp;&quot;|&quot;&amp;TEXT({!$Flow.CurrentDateTime})</expression>
    </formulas>
    <interviewLabel>Marketing: Lemlist Enrollment Outbound Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing: Lemlist Enrollment Outbound Message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Lemlist_Enroll_Status_to_Processing</name>
        <label>Set Lemlist Enroll Status to Processing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Lemlist_Enrollment_Status_V2__c</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Filter_Queue_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lemlist_Enroll_V2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Lemlist_Enroll_V2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Lemlist_Outbound_Message</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
