salesforce/force-app/main/default/flows/Marketing_Screen_Distribute_from_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SGACh</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_3.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_DG_REP_Name_to_text</name>
        <label>Add DG REP Name to text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDGMembersDisplay_next</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_textDGM1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_DG_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Distribution_Group_to_Campaign</name>
        <label>Assign Distribution Group to Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Distribution_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Distribution_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Distribution_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Distribution_Group_to_Campaign2</name>
        <label>Assign Distribution Group to Campaign2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Campaign.Distribution_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectDisx.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Distribution_Group_on_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Ready_for_Assignment_members</name>
        <label>Count Ready for Assignment Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varReadyCampaignMembersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Ready_for_Assignment_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_DG_Reps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_SGA</name>
        <label>Current SGA</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDGRepSelec.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SGA_Selection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDGRepSelec.Distribution_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Distribution_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDGRepSelec.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDGRepSelec.Last_Assignment_DateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDGRepSGa</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varDGRepSelec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SGA_Selection</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Create_a_new_Distribution_Group</name>
        <choiceText>Create a new Distribution Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Create a new Distribution Group</stringValue>
        </value>
    </choices>
    <choices>
        <name>Use_existing_Distribution_Group</name>
        <choiceText>Use existing Distribution Group</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Use existing Distribution Group</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_New_Distribution_Group</name>
        <label>Create New Distribution Group?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_DistributionG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Create_a_new_Distribution_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SGAs</targetReference>
            </connector>
            <label>Create New</label>
        </rules>
        <rules>
            <name>Use_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_DistributionG</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Use_existing_Distribution_Group</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3B</targetReference>
            </connector>
            <label>Use Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_have_a_Distribution_GRoup</name>
        <label>Does it have a Distribution GRoup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>It_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Distribution_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Screen</targetReference>
            </connector>
            <label>It does</label>
        </rules>
        <rules>
            <name>it_doesnt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campaign.Distribution_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Screen_B</targetReference>
            </connector>
            <label>it doesnt</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>colSGAs</name>
        <collectionReference>Get_SGAs</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoiceSGAs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SGACHOICE</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsSGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>test2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsSGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>20</limit>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_textDGM1</name>
        <dataType>String</dataType>
        <expression>&quot;-&quot;+{!Loop_DG_Reps.Name}+BR()</expression>
    </formulas>
    <interviewLabel>Marketing: Screen =&gt; Distribute from Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing: Screen =&gt; Distribute from Campaign</label>
    <loops>
        <name>Loop_3</name>
        <label>Loop 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_SGAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Screen3A</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_DG_Reps</name>
        <label>Loop DG Reps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_DG_Reps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_DG_REP_Name_to_text</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>FirstScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SGA_Selection</name>
        <label>Loop SGA Selection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>SelectSGAtoDistr.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_SGA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_DG_Reps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_DG_Reps</name>
        <label>Create DG Reps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Distribution_Group_to_Campaign</targetReference>
        </connector>
        <inputReference>colDGRepSGa</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Distribution_Group</name>
        <label>Create Distribution Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_SGA_Selection</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>Distribution_Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Campaign</name>
        <label>Get Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ready_for_Assignment_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_DG_Reps</name>
        <label>Get DG Reps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_DG_Reps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Distribution_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Distribution_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>DG_Rep__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ready_for_Assignment_Members</name>
        <label>Get Ready for Assignment Members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Ready_for_Assignment_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Ready_for_Assignment__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SGAs</name>
        <label>Get SGAs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsSGA__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Distribution_Group</name>
        <label>Update Campaign Distribution Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Distribution_2</targetReference>
        </connector>
        <inputReference>Campaign</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Distribution_Group_on_Campaign</name>
        <label>Update Distribution Group on Campaign</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Distribution_3</targetReference>
        </connector>
        <inputReference>Campaign</inputReference>
    </recordUpdates>
    <screens>
        <name>EndScreen</name>
        <label>End Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_StartText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Leads were distributed successfully&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FirstScreen</name>
        <label>First Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Does_it_have_a_Distribution_GRoup</targetReference>
        </connector>
        <fields>
            <name>Title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StartText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;You are about to run Lead Distribution for the &lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(21, 26, 199);&quot;&gt;{!Campaign.Name} Campaign&lt;/span&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;, which currently has &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varReadyCampaignMembersCount}&lt;/strong&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; Ready for Assignment Prospects.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3A</name>
        <label>Screen3A</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Distribution_Group</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_Copy_2_of_Title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name for Distribution Group</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SelectSGAtoDistr</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>20.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select SGA for Distribution Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>DG_Rep__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>SGACh</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed with Distribution</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen3B</name>
        <label>Screen 3B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Distribution_Group_to_Campaign2</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_Copy_2_of_Title1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectDisx</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Distribution_Group__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Distribution Group to use</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed with Distribution</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Execute_Distribution_1</targetReference>
        </connector>
        <fields>
            <name>Title2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DGMembersList1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Distribution Group used will be {!Campaign.Distribution_Group__r.Name} with currently active SGAs for the group:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!varDGMembersDisplay_next}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed with Distribution</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Second_Screen_B</name>
        <label>Second Screen B</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Distribution_Group</targetReference>
        </connector>
        <fields>
            <name>Title2B</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Prospect Distribution&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_DGMembersList1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The Distribution Group used will be {!Campaign.Distribution_Group__r.Name} with currently active SGAs for the group:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!varDGMembersDisplay_next}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_DistributionG</name>
            <choiceReferences>Use_existing_Distribution_Group</choiceReferences>
            <choiceReferences>Create_a_new_Distribution_Group</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Use_existing_Distribution_Group</defaultSelectedChoiceReference>
            <fieldText>Select Distribution</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campaign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Execute_Distribution_1</name>
        <label>Execute Distribution 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <flowName>Marketing_Lead_Distribution_On_Demand_from_Campaign</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Distribution_2</name>
        <label>Run Distribution 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <flowName>Marketing_Lead_Distribution_On_Demand_from_Campaign</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Run_Distribution_3</name>
        <label>Run Distribution 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EndScreen</targetReference>
        </connector>
        <flowName>Marketing_Lead_Distribution_On_Demand_from_Campaign</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Campaign.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colDGRepSGa</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DG_Rep__c</objectType>
    </variables>
    <variables>
        <name>colSelectedSGAs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUserInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SGACh</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>textDGM1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDGMembersDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDGMembersDisplay_next</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varDGRepSelec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DG_Rep__c</objectType>
    </variables>
    <variables>
        <name>varReadyCampaignMembersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varSelectedSGAL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
