salesforce/force-app/main/default/flows/Opportunity_Re_Engagement_Stage_Timestamp_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Update_Correct_Timestamp</name>
        <label>Update Correct Timestamp</label>
        <locationX>710</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Planned_Nurture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned Nurture</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Entered_Planned_Nurture</targetReference>
            </connector>
            <label>Planned Nurture</label>
        </rules>
        <rules>
            <name>Outreach</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outreach</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Entered_Outreach</targetReference>
            </connector>
            <label>Outreach</label>
        </rules>
        <rules>
            <name>Engaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Stage_Entered_Engaged</targetReference>
            </connector>
            <label>Engaged</label>
        </rules>
        <rules>
            <name>Call_Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Entered_Call_Scheduled</targetReference>
            </connector>
            <label>Call Scheduled</label>
        </rules>
        <rules>
            <name>Re_Engaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Re-Engaged</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stage_Entered_Re_Engaged</targetReference>
            </connector>
            <label>Re-Engaged</label>
        </rules>
    </decisions>
    <description>Updates the timestamps of any re-engagement stage change.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Re-Engagement Stage Timestamp Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Re-Engagement Stage Timestamp Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Stage_Entered_Call_Scheduled</name>
        <label>Stage Entered Call Scheduled</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Entered_Call_Scheduled__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Stage_Entered_Re_Engaged</name>
        <label>Stage Entered Re-Engaged</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Entered_Re_Engaged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Entered_Engaged</name>
        <label>Update Stage Entered Engaged</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Entered_Engaged__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Entered_Outreach</name>
        <label>Update Stage Entered Outreach</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Entered_Outreach__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Stage_Entered_Planned_Nurture</name>
        <label>Update Stage Entered Planned Nurture</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Stage_Entered_Planned_Nurture__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Correct_Timestamp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012VS000009VoxrYAC</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
