salesforce/force-app/main/default/flows/Replicate_Contact_Role_s_Activity_on_Active_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <decisions>
        <description>Checks if previous &quot;Get Contact Role Id&quot; step found the Contact as a Contact Role on an Opportunity with stage different than &quot;Closed Lost&quot; or &quot;Closed Won&quot; (Open Opportunity)</description>
        <name>Is_a_Contact_Role</name>
        <label>Is a Contact Role?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact_Role_Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opportunity_ID_on_WhatID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Fills &quot;WhatID&quot; of Tasks with OpportunityID, whenever the Contact who had the task is a Contact Role of said Opportunity and is also an Open Opportunity.</description>
    <environments>Default</environments>
    <interviewLabel>Replicate Contact Role&apos;s Activity on Active Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Replicate Contact Role&apos;s Tasks on an Open Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Role_Id</name>
        <label>Get Contact Role Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_a_Contact_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhoId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity_Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>It adds the OpportunityID on the &quot;WhatID&quot; field on the task to explicitly relate them, this happens only if the Contact on the Task&apos;s &quot;WhoID&quot; is a Contact Role on a Open Opportunity.</description>
        <name>Add_Opportunity_ID_on_WhatID</name>
        <label>Add Opportunity ID on &quot;WhatID&quot;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Contact_Role_Id.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Role_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>WhoId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
