salesforce/force-app/main/default/flows/RevOps_Add_Re_Engagement_to_Opp_s_Name_if_missing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Update_Name</name>
        <label>Update Name</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewName</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Name_Contains_Re_Engagement</name>
        <label>Name Contains [Re-Engagement]</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contains_Re_Engagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[Re-Engagement]</stringValue>
                </rightValue>
            </conditions>
            <label>Contains [Re-Engagement]</label>
        </rules>
    </decisions>
    <description>Adds [Re-Engagement] tag to the Opportunity name in case is missing on a Re-Engagement type Opportunity.</description>
    <environments>Default</environments>
    <interviewLabel>RevOps: Add [Re-Engagement] to Opp&apos;s Name if missing. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RevOps: Add [Re-Engagement] to Opp&apos;s Name if missing.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Name_Contains_Re_Engagement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012VS000009VoxrYAC</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>NewName</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[Re-Engagement] {!$Record.Name}</text>
    </textTemplates>
</Flow>
