salesforce/force-app/main/default/flows/Set_Lead_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Get the count of the number of SGMs available for Lead Routing to set the right index later.</description>
        <name>AssignCountOfSGMs</name>
        <label>AssignCountOfSGMs</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>CountOfEligibleSGMs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_SGMs_Eligible_for_Lead_Routing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Index_Count_of_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Current_Index</name>
        <label>Get Current Index</label>
        <locationX>182</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>CurrentIndex</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Owner_of_Record.SGA_Lead_Routing_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add 1 to the index</description>
        <name>Increment_Index</name>
        <label>Increment Index</label>
        <locationX>182</locationX>
        <locationY>1763</locationY>
        <assignmentItems>
            <assignToReference>CurrentIndex</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Lead_Routing_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Run</name>
        <label>Increment Loop Run</label>
        <locationX>534</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>NumberOfLoopsforSGARouting</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Next_SGM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Next_SGM</name>
        <label>Set Next SGM</label>
        <locationX>270</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>NextSGM.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Next_SGM.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_SGM_ID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If the index is greater than the count of records, set it back to 0.</description>
        <name>Is_Index_Count_of_Records</name>
        <label>Index Greater than Count of Records</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Get_Next_SGM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IndexGreaterThanCount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Owner_of_Record.SGA_Lead_Routing_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CountOfEligibleSGMs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Lead_Routing_Index_to_Zero</targetReference>
            </connector>
            <label>IndexGreaterThanCount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_User_SGA</name>
        <label>Is User SGA</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_SGA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Owner_of_Record.IsSGA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SGMs_Eligible_for_Lead_Routing</targetReference>
            </connector>
            <label>User is SGA</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Lead Routing Number is the next SGA, choose this record</description>
        <name>Next_SGA_Equals_Routing_Number</name>
        <label>Next SGA Equals Routing Number</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Increment_Loop_Run</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Choose_Next_SGA_Based_on_Lead_Routing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfLoopsforSGARouting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Next_SGM.SGA_Lead_Routing_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Next_SGM</targetReference>
            </connector>
            <label>Choose Next SGA Based on Lead Routing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Set Lead Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Lead Routing</label>
    <loops>
        <name>Get_Next_SGM</name>
        <label>Get Next SGM</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_SGMs_Eligible_for_Lead_Routing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Next_SGA_Equals_Routing_Number</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Current_Index</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SGMs_Eligible_for_Lead_Routing</name>
        <label>Get SGMs Eligible for Lead Routing</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCountOfSGMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_SGM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Skip_Lead_Routing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Owner_of_Record</name>
        <label>Get User Owner of Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_SGA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Increment_Lead_Routing_Index</name>
        <label>Increment Lead Routing Index</label>
        <locationX>182</locationX>
        <locationY>1871</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Owner_of_Record.UserPreferencesHideEventCalendar__NotFound</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SGA_Lead_Routing_Number__c</field>
            <value>
                <elementReference>CurrentIndex</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Reset_Lead_Routing_Index_to_Zero</name>
        <label>Reset Lead Routing Index to Zero</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <connector>
            <targetReference>Get_Next_SGM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Owner_of_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SGA_Lead_Routing_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_SGM_ID</name>
        <label>Set SGM ID</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <connector>
            <targetReference>Get_Next_SGM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User_Owner_of_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_SGM_on_Lead_Routing__c</field>
            <value>
                <elementReference>Get_Next_SGM.Id</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Owner_of_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ConvertedOpportunityId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountOfEligibleSGMs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CurrentIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NextSGM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>NumberOfLoopsforSGARouting</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
