salesforce/force-app/main/default/flows/Test_HTTP_Call_Out_Flow_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Test</name>
        <label>Test</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClayWebhookTest.ClayWebhookTestActionPost</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ClayTestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClayWebhookTest.ClayWebhookTestActionPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <assignments>
        <name>TestTTT</name>
        <label>TestTTT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ClayTestBody.company</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>testcompany</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayTestBody.email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>testemail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayTestBody.firstx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>testfirstname</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayTestBody.lastx5fname</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>testlastname</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClayTestBody.source</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>testsource</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Test: HTTP Call Out Flow Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test: HTTP Call Out Flow Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TestTTT</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ClayTestBody</name>
        <apexClass>ExternalService__ClayWebhookTest_ClayWebhookTestActionPost_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
