salesforce/force-app/main/default/flows/Upcoming_Advisors_Slack_Message_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Upcoming_Advisors_in_Two_Weeks</name>
        <label>Send Upcoming Advisors in Two Weeks</label>
        <locationX>182</locationX>
        <locationY>3432</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <connector>
            <targetReference>Send_Upcoming_Advisors_in_Two_Weeks_to_Product_Leads</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T0295TR9745</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C07DGUGCRD0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Slack_Upcoming_Advisor_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Upcoming_Advisors_in_Two_Weeks_to_Product_Leads</name>
        <label>Send Upcoming Advisors in Two Weeks to Product Leads</label>
        <locationX>182</locationX>
        <locationY>3540</locationY>
        <actionName>slackPostMessage</actionName>
        <actionType>slackPostMessage</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>slackAppIdForToken</name>
            <value>
                <stringValue>A03269G3DNE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackWorkspaceIdForToken</name>
            <value>
                <stringValue>T0295TR9745</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackConversationId</name>
            <value>
                <stringValue>C083Q3TC22U</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>slackMessage</name>
            <value>
                <elementReference>Slack_Upcoming_Advisor_Message</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackPostMessage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Closing_Line</name>
        <label>Add Closing Line</label>
        <locationX>182</locationX>
        <locationY>3324</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Upcoming_Advisor_Closing_Line</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Upcoming_Advisors_in_Two_Weeks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Non_Signed_Section</name>
        <label>Add Non Signed Section</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Slack_Header_For_Non_Signed_Advisors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Loop_Counter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Increment_Loop_Counter_Upcoming_Advisor</name>
        <label>Copy 2 of Increment Loop Counter Upcoming Advisor</label>
        <locationX>314</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>Loop_Counter_Upcoming_Advisor</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_All_Contacts_in_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter_Upcoming_Advisor</name>
        <label>Increment Loop Counter Upcoming Advisor</label>
        <locationX>710</locationX>
        <locationY>2964</locationY>
        <assignmentItems>
            <assignToReference>Loop_Counter_Upcoming_Advisor</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_All_Contacts_in_Opportunity_Not_Signed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Loop_Counter</name>
        <label>Reset Loop Counter</label>
        <locationX>50</locationX>
        <locationY>2016</locationY>
        <assignmentItems>
            <assignToReference>Loop_Counter_Upcoming_Advisor</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Unsigned_Advisors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Signed_Advisor_Message_Header</name>
        <label>Set Signed Advisor Message Header</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Slack_Header_For_Signed_Advisors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Signed_Advisors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Upcoming_Advisor_Message_Header</name>
        <label>Set Upcoming Advisor Message Header</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Header_For_All_Upcoming_Advisors</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Slack_Message_Signed_Advisors</name>
        <label>Update Slack Message Signed Advisors</label>
        <locationX>314</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_Signed_Advisor_Slack_Line_Text_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Increment_Loop_Counter_Upcoming_Advisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Slack_Message_Upcoming_Advisors_no_Verbal_Commit</name>
        <label>Update Slack Message Upcoming Advisors no Verbal Commit</label>
        <locationX>842</locationX>
        <locationY>2772</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_NonSigned_Advisor_Slack_Line_Text_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Loop_Counter_Upcoming_Advisor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Slack_Message_Upcoming_Advisors_with_Commit</name>
        <label>Update Slack Message Upcoming Advisors with Commit</label>
        <locationX>578</locationX>
        <locationY>2772</locationY>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Current_NonSigned_Advisor_Slack_Line_Text_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VerbalCommitTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Slack_Upcoming_Advisor_Message</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Loop_Counter_Upcoming_Advisor</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>End_Of_Year_Date</name>
        <dataType>Date</dataType>
        <value>
            <dateValue>2026-01-01</dateValue>
        </value>
    </constants>
    <constants>
        <name>GlobalEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Greater_Than_One_Record_Returned_for_NonSigned</name>
        <label>Greater Than One Record Returned for NonSigned</label>
        <locationX>182</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>Add_Closing_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Unsigned Advisors</defaultConnectorLabel>
        <rules>
            <name>There_are_Unsigned_Advisors</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Not_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Non_Signed_Section</targetReference>
            </connector>
            <label>There are Unsigned Advisors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Greater_Than_One_Record_Returned_for_Signed</name>
        <label>Greater Than One Record Returned for Signed</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>Get_Not_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Signed Advisors</defaultConnectorLabel>
        <rules>
            <name>There</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Signed_Advisor_Message_Header</targetReference>
            </connector>
            <label>There are Signed Advisors</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_a_Verbal_Commit</name>
        <label>Is There a Verbal Commit</label>
        <locationX>710</locationX>
        <locationY>2664</locationY>
        <defaultConnector>
            <targetReference>Update_Slack_Message_Upcoming_Advisors_no_Verbal_Commit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Verbal Commit</defaultConnectorLabel>
        <rules>
            <name>There_is_Verbal_Commit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Unsigned_Advisors.Verbal_Commit__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Slack_Message_Upcoming_Advisors_with_Commit</targetReference>
            </connector>
            <label>There is Verbal Commit</label>
        </rules>
    </decisions>
    <description>3/30: Updated this to be 30 days out for non-signed advisors.
1/26: Added the AUM to the Signed Advisor slack message as well
11/17v2: Updated the unsigned date to go either 2 weeks or until end of year.
11/24: Pulls the anticipated start date from the Opportunity</description>
    <environments>Default</environments>
    <formulas>
        <name>Date_Plus_Four_Weeks</name>
        <dataType>DateTime</dataType>
        <expression>Now() + 30</expression>
    </formulas>
    <formulas>
        <name>FormattedAUMSigned</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Signed_Advisors.Underwritten_AUM__c} / 1000000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormattedAUMUnsigned</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Unsigned_Advisors.Underwritten_AUM__c} / 1000000</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>NewLineUpcomingAdvisor</name>
        <dataType>String</dataType>
        <expression>CHR(10)</expression>
    </formulas>
    <interviewLabel>Upcoming_Advisors_Slack_Message - Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upcoming Advisors Slack Message - Contact Object</label>
    <loops>
        <name>Loop_over_All_Contacts_in_Opportunity</name>
        <label>Loop over All Contacts in Opportunity</label>
        <locationX>226</locationX>
        <locationY>900</locationY>
        <collectionReference>Get_Contact_Roles_from_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Contact_Signed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Signed_Advisors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_All_Contacts_in_Opportunity_Not_Signed</name>
        <label>Loop over All Contacts in Opportunity Not Signed</label>
        <locationX>490</locationX>
        <locationY>2340</locationY>
        <collectionReference>Get_Contact_Roles_from_Opportunities_Not_Signed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Current_Contact_Not_Signed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Unsigned_Advisors</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Prepare the Slack message Content</description>
        <name>Loop_Signed_Advisors</name>
        <label>Loop Signed Advisors (Opportunities)</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Roles_from_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Not_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Prepare the Slack message Content</description>
        <name>Loop_Unsigned_Advisors</name>
        <label>Loop Unsigned Advisors</label>
        <locationX>50</locationX>
        <locationY>2124</locationY>
        <collectionReference>Get_Not_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Roles_from_Opportunities_Not_Signed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Closing_Line</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact_Roles_from_Opportunities</name>
        <label>Get Contact Roles from Opportunities</label>
        <locationX>226</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_All_Contacts_in_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Signed_Advisors.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Roles_from_Opportunities_Not_Signed</name>
        <label>Get Contact Roles from Opportunities Not Signed</label>
        <locationX>490</locationX>
        <locationY>2232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_All_Contacts_in_Opportunity_Not_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Unsigned_Advisors.Full_Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Not_Signed</name>
        <label>Get Current Contact (Not Signed)</label>
        <locationX>710</locationX>
        <locationY>2448</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Unsigned_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_All_Contacts_in_Opportunity_Not_Signed.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Contact_Signed</name>
        <label>Get Current Contact (Signed)</label>
        <locationX>314</locationX>
        <locationY>1008</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Signed_Opp_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_over_All_Contacts_in_Opportunity.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Not_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</name>
        <label>Get Not Signed Advisors with Anticipated Start Dates in Three Weeks</label>
        <locationX>182</locationX>
        <locationY>1692</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Greater_Than_One_Record_Returned_for_NonSigned</targetReference>
        </connector>
        <filterLogic>((1 OR 6)  AND 2 AND 3) OR (4 AND 5 AND 3)</filterLogic>
        <filters>
            <field>Earliest_Anticipated_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Date_Plus_Four_Weeks</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Verbal_Commit__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Earliest_Anticipated_Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>End_Of_Year_Date</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Earliest_Anticipated_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Signed_Advisors_with_Anticipated_Start_Dates_in_Three_Weeks</name>
        <label>Get Signed Advisors with Anticipated Start Dates in Three Weeks</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Greater_Than_One_Record_Returned_for_Signed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Earliest_Anticipated_Start_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Signed_Opp_Owner</name>
        <label>Get Signed Opportunity Owner (User)</label>
        <locationX>314</locationX>
        <locationY>1116</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Slack_Message_Signed_Advisors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Signed_Advisors.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unsigned_Opp_Owner</name>
        <label>Get Unsigned Opportunity Owner (User)</label>
        <locationX>710</locationX>
        <locationY>2556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_a_Verbal_Commit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Unsigned_Advisors.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Upcoming_Advisor_Message_Header</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Weekly</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2025-04-21</startDate>
            <startTime>09:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Current_NonSigned_Advisor_Slack_Line_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Counter_Upcoming_Advisor}. &lt;https://savvywealth.lightning.force.com/{!Get_Current_Contact_Not_Signed.Full_Contact_ID__c}|{!Get_Current_Contact_Not_Signed.Name}&gt; - {!Loop_Unsigned_Advisors.Earliest_Anticipated_Start_Date__c} (&lt;https://savvywealth.lightning.force.com/{!Loop_Unsigned_Advisors.Full_Opportunity_ID__c}|{!Loop_Unsigned_Advisors.Name} Opportunity&gt;) - Underwritten AUM: ${!FormattedAUMUnsigned}M (SGM: {!Get_Unsigned_Opp_Owner.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>Current_Signed_Advisor_Slack_Line_Text_Template</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Counter_Upcoming_Advisor}. &lt;https://savvywealth.lightning.force.com/{!Get_Current_Contact_Signed.Full_Contact_ID__c}|{!Get_Current_Contact_Signed.Name}&gt; - {!Loop_Signed_Advisors.Earliest_Anticipated_Start_Date__c} (&lt;https://savvywealth.lightning.force.com/{!Loop_Signed_Advisors.Full_Opportunity_ID__c}|{!Loop_Signed_Advisors.Name} Opportunity&gt;) - Underwritten AUM: ${!FormattedAUMSigned}M (SGM: {!Get_Signed_Opp_Owner.Name})</text>
    </textTemplates>
    <textTemplates>
        <name>Slack_Header_For_All_Upcoming_Advisors</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>:wave: *Good Morning Everyone! Please find below any signed and non-signed advisors with start dates (or potential start dates).*</text>
    </textTemplates>
    <textTemplates>
        <name>Slack_Header_For_Non_Signed_Advisors</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*Non-Signed Advisors:*</text>
    </textTemplates>
    <textTemplates>
        <name>Slack_Header_For_Signed_Advisors</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*Signed:*</text>
    </textTemplates>
    <textTemplates>
        <name>TextTemplateNewLine</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!GlobalEmptyString}
{!GlobalEmptyString}</text>
    </textTemplates>
    <textTemplates>
        <name>Upcoming_Advisor_Closing_Line</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>To view all upcoming potential advisor starts, please view &lt;https://savvywealth.lightning.force.com/lightning/r/Report/00OVS000004y0Nt2AI/view|this report&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>VerbalCommitTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>- _(verbal commit)_</text>
    </textTemplates>
    <variables>
        <name>Loop_Counter_Upcoming_Advisor</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Slack_Upcoming_Advisor_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
