salesforce/force-app/main/default/flows/Update_Team_Members_Counts_on_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NumberofTeamMembers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Contact_Total_From_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofAdvisors</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Advisors_Total_From_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Team_Member_Count</targetReference>
        </connector>
    </assignments>
    <description>Updates the Advisor Team Member counts when a contact is created or updated.</description>
    <environments>Default</environments>
    <interviewLabel>Update Team Members Counts on Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Team Members Counts on Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the total Advisors on the Account</description>
        <name>Get_Advisors_Total_From_Account</name>
        <label>Get Advisors Total From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Full_Account_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Team_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Advisor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the total Contacts on the Account</description>
        <name>Get_Contact_Total_From_Account</name>
        <label>Get Contact Total From Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Advisors_Total_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Full_Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the Total team member count on the Account Object</description>
        <name>Update_Team_Member_Count</name>
        <label>Update Team Member Counts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Full_Account_ID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_Advisors__c</field>
            <value>
                <elementReference>NumberofAdvisors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Team_Members__c</field>
            <value>
                <elementReference>NumberofTeamMembers</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Total_From_Account</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountsAssociatedtoContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NumberofAdvisors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>NumberofTeamMembers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TeamARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TeamAUM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
