salesforce/force-app/main/default/flows/Update_Account_AUM_and_ARR_Daily.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Add_AUM_and_ARR</name>
        <label>Add AUM and ARR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentAUM</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_AUM_and_ARR_Across_Contacts.Actual_AUM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentARR</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sum_AUM_and_ARR_Across_Contacts.Actual_ARR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_AUM_and_ARR_Across_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_to_Update</name>
        <label>Add Record to Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountIDToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_Joined_Accounts.Full_Account_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualAccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountIDToUpdate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualAccountToUpdate.Account_Total_AUM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentAUM</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IndividualAccountToUpdate.Account_Total_ARR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentARR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfAccountsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>IndividualAccountToUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Joined_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_AUM_and_ARR</name>
        <label>Reset AUM and ARR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CurrentARR</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentAUM</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts_On_Account</targetReference>
        </connector>
    </assignments>
    <description>A daily flow scheduled to update the AUM and ARR on an Account</description>
    <environments>Default</environments>
    <interviewLabel>Update Account AUM and ARR Daily {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Account AUM and ARR Daily</label>
    <loops>
        <name>Loop_Over_Joined_Accounts</name>
        <label>Loop Over Joined Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Joined_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_AUM_and_ARR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Accounts_AUM_and_ARR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Sum_AUM_and_ARR_Across_Contacts</name>
        <label>Sum AUM and ARR Across Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts_On_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_AUM_and_ARR</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Record_to_Update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_On_Account</name>
        <label>Get Contacts On Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sum_AUM_and_ARR_Across_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Over_Joined_Accounts.Full_Account_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all of the joined accounts to loop through contacts and sum up AUM and ARR.</description>
        <name>Get_Joined_Accounts</name>
        <label>Get Joined Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Joined_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Joined</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accounts_AUM_and_ARR</name>
        <label>Update Accounts AUM and ARR</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>CollectionOfAccountsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Joined_Accounts</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-28</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountIDToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CollectionOfAccountsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CurrentARR</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentAUM</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>IndividualAccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListOfJoinedAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ListOfJoinedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
